* {
  --cursive: "Edu NSW ACT Foundation", cursive;
  --beta: "Tillana", cursive;
  --main: #678a76;
  --dark: #3a0837;
  --neutral: #e5e785;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.p-4 {
  padding: 10px;
}


.btn {
  border: 3px solid var(--dark);
  background-color: var(--main);
  color: black;
  border-radius: 4px;
  padding: 15px
}

.btn:hover {
  background-color: var(--dark);
  color: var(--neutral);
}
