<div>
  <form id="climb-form" class='' #climbForm>
    <h3>Add a New Climb</h3>
    <div id="climb-data" class="flex flex-row justify-center space-between">
      <div class="form-group name-group">
        <label for="name">Name: </label>
        <input
          type="text"
          id="name"
          required
          name="name"
          [(ngModel)]="climb.name"
          #name="ngModel"
        />
        <div [hidden]="name.untouched || name.valid" class="alert">
          name is required
        </div>
      </div>
      <div class="form-group grade-group">
        <label for="grade">Grade: </label>
        <input
          type="text"
          id="grade"
          required
          name="grade"
          [(ngModel)]="climb.grade"
          #grade="ngModel"
        />
        <div
          [hidden]="grade.untouched || grade.valid"
          class="alert alert-danger"
        >
          grade is required
        </div>
      </div>
      <div class="form-group location-group">
        <label for="grade">Location: </label>
        <input
          type="text"
          id="location"
          required
          name="location"
          [(ngModel)]="climb.location"
          #location="ngModel"
        />
        <div
          [hidden]="location.untouched || location.valid"
          class="alert alert-danger"
        >
          location is required
        </div>
      </div>
    </div>
    <div class="beta-group">
      <div class="beta-title">Beta</div>
      <textarea
        cols="50"
        rows="9"
        id="beta"
        required
        name="beta"
        [(ngModel)]="climb.beta"
        #beta="ngModel"
      ></textarea>

      <div [hidden]="beta.untouched || beta.valid" class="alert alert-danger">
        beta is required
      </div>
    </div> 
    <!-- TODO: make this button unable to click when not all valid information -->
    <button class="btn" (click)="addClimb()">+</button>
  </form>
</div>
