* {
  font-size: 25px;
  background-color: var(--neutral);
  box-sizing: border-box;
}

#climb-form {
  border: 3px black double;
  text-align: center;
  min-height: 88vh;
}

/* title styles */
h3 {
  margin: auto;
  padding-bottom: 25px;
  font-size: larger;
  color: var(--dark);
}

label,
h3,
.beta-title {
  font-family: var(--beta);
}

/* textarea responsiveness */
textarea {
  margin: auto;
  max-width: 90vw;
}

/* input styling */
input,
textarea {
  border: none;
  background-color: var(--dark);
  font-family: var(--cursive);
  color: var(--main);
  border-radius: 5px;
}

input {
  max-width: 20vw;
  margin-left: 10px;
}

#climb-data > *:nth-last-child(n + 2) {
  padding-right: 15px;
}

#climb-data,
.beta-group,
.beta-title {
  padding-bottom: 15px;
  justify-content: space-around;
}
.form-group {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-left: 10px;
}

/* form validation styling */
.alert {
  font-size: 20px;
}

/* button styles */

.add-btn {
  min-width: 260px;
  margin-bottom: 15px;
}

.add-btn:disabled {
  background-color: gray;
  opacity: 0.4;
}

/* mobile device styling */

@media screen and (max-width: 957px) {
  #climb-data {
    display: flex;
    flex-direction: column;
  }
  #climb-data > *:nth-last-child(n + 2) {
    padding-bottom: 15px;
  }
  input {
    max-width: 82vw;
  }
}

@media screen and (max-width: 520px) {
  .form-group {
    display: flex;
    flex-direction: column;
  }
  input {
    min-width: 88px;
  }
}
