* {
  background-color: var(--dark);
  font-family: var(--beta);
}

#search-component {
  min-height: 95vh;
  text-align: center;
  padding: 25px;
}

#search-form {
  max-width: 90vw;
  margin: auto;
}

label {
  color: var(--main);

  font-size: 24px;
}

input {
  background-color: var(--neutral);
  font-size: 21px;
  max-width: 80vw;
}
#search-box {
  margin-bottom: 15px;
}

.search-div {
  margin-left: 10px;
  align-items: flex-start;
}

ul {
  list-style-type: none;
  margin-left: 0px;
  margin-top: 15px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: left;
}

li > a {
  text-decoration: none;
  color: var(--neutral);
  font-size: 22px;
}

@media screen and (max-width: 550px) {
  #search-form {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-div {
    margin-left: 0px;
  }
}
@media screen and (max-width: 350px) {
  .search-div {
    margin: auto;
  }
  input {
    max-width: 75vw;
  }
}
