* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark);
}

.info {
  color: var(--neutral);
}

.info > h1 > span {
  font-style: italic;
  font-size: smaller;
}

.beta-div {
  background-color: white;
  border: 3px solid black;
  min-width: 300px;
  min-height: 300px;
  max-width: 75vw;
}

.btn {
  padding: 15px;
}
