<div class="main-div" *ngIf="climb">
  <div class="info">
    <h1>
      {{ climb.name }} (<span>{{ climb.grade }}</span
      >)
      <!-- add a dropdown menu for edit and delete -->
    </h1>
    <h2>{{ climb.location }}</h2>
  </div>
  <!-- TODO: make div responsive so stays on screen at mobile -->
  <h3 class="beta-div">{{ climb.beta }}</h3>
  <div class="buttons pt-5">
    <button class="btn" (click)="goBack()">go back</button>
    <button class="btn edit-btn" routerLink="../edit/{{ climb._id }}">
      edit
    </button>
  </div>
</div>
