<div *ngIf="climb" id="climb-form">
  <button class="btn back-btn" (click)="goBack()">go back</button>

  <label for="climb-name">Climb: </label>
  <input
    type="text"
    name=""
    id="climb-name"
    placeholder="name"
    [(ngModel)]="climb.name"
  />
  <label for="grade">Grade: </label>
  <input type="text" name="grade" id="grade" #grade [(ngModel)]="climb.grade" />
  <label for="location">Location: </label>
  <input [(ngModel)]="climb.location" type="text" id="location" #location />
  <div id="date">
    Date: <span>{{ climb!.date | date : "MM/dd/yy" }}</span>
  </div>
  <h3>Beta</h3>
  <textarea name="beta" id="beta" cols="30" rows="10" [(ngModel)]="climb.beta">
  </textarea>
  <!-- add a photo area here/video -->
  <button class="btn save-btn" (click)="save()">Save</button>
</div>
