
<div>
  <h1>My Climbs</h1>
  <div class="climb-list">
    <ul>
      <li *ngFor="let climb of climbs" class="flex flex-row space-between">
        <div>
          <a routerLink="{{ climb._id }}">
            <h3>
              {{ climb.name }}
              <span class="location-span">{{ climb.location }}</span>
            </h3>
            <h4>{{ climb.grade }}</h4>
          </a>
        </div>
        <div id="date">{{ climb.date | date : "MM/dd/yy" }}</div>
      </li>
    </ul>
  </div>
</div>
