<div class="nav-bar">
  <a routerLink="./climbs">
    <h1>{{ title }}</h1>
  </a>

  <!-- make this into x on mobile device -->
  <nav class="nav">
    <!-- put routlinks here -->
    <a routerLink="climbs">my climbs</a>
    <a routerLink="search">search</a>
    <a routerLink="add">add</a>
  </nav>
  <div id="mobile-view">
    <h1 #showbutton class="show-nav" (click)="showMenu()" (click)="animateMenu()">
      <span [@line1]='state' class="one"></span>
      <span [@line2]='state' class="two"></span>
      <span [@line3]='state' class="three"></span>
    </h1>

    <!-- <div *ngIf="!hidden" [class.show]="show" id="hidden-menu">
      <a routerLink="climbs" (click)="closeNav()">my climbs</a>
      <a routerLink="search" (click)="closeNav()">search</a>
      <a routerLink="add" (click)="closeNav()">add</a>
    </div> -->
  </div>
</div>
<router-outlet></router-outlet>
