.nav-bar {
  background-color: var(--main);
  color: var(--dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  padding: 7px;
  text-decoration: none;
  color: var(--dark);
  font-family: var(--cursive);
}

.nav {
    align-self: right

}
